{% load static %}
<script src="{% static 'js/header_y_footer.js' %}"></script>
<script src="{% static 'js/Paul_Arellano.js' %}"></script>
<script src="{% static 'js/maximiliano_perez.js' %}"></script>
<script src="{% static 'js/camilo_munozs.js' %}"></script>
<script src="{% static 'js/joaquin_caba.js' %}"></script>
<script src="{% static 'js/reservar_hora.js' %}"></script>
<script src="{% static 'js/fijar_header.js' %}"></script>
<script src="{% static 'js/categorias.js' %}"></script>
<script src="{% static 'js/comentario_cancha.js' %}"></script>
<script src="{% static 'js/ayuda.js' %}"></script>
<script src="{% static 'js/poner_favotitos.js' %}"></script>
<script src="{% static 'js/filtrar_cancha.js' %}"></script>
<script src="{% static 'js/admin/pages/dashboard_comunicacion.js' %}"></script>
