{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/globales.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header_y_footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Paul_Arellano.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maximiliano_perez.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/camilo_munozs.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/joaquin_caba.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/reservar_hora.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/categorias.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/comentario_cancha.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/pages/dashboard_ayuda.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/pages/dashboard_sobre_mi.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/canchas/formulario_canchas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/pages/dashboard_comunicacion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/pages/dashboard_favoritas.css' %}">


<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/admin/dashboard_admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/pages/dashboard_configuracion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/main/dashboard_main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/canchas/dashboard_cancha.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/canchas/formulario_canchas.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/solicitudes/dashboard_solicitudes.css' %}"> -->