{% load static %}

<div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static '/img/canchas/cancha.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 4.8</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha San José, La Florida</h2>
      <p class="description">Cancha de césped sintético para partidos emocionantes.</p>
      <p class="price">$20.000 CLP hora.</p>
    </div>
  </div>

  <div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static 'img\canchas\canchadefutbolito5.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 4.4</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha Los Galácticos, Puente Alto</h2>
      <p class="description">Experimenta la emoción del fútbol en esta cancha de césped natural.</p>
      <p class="price">$25.000 CLP hora.</p>
    </div>
  </div>

  <div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static 'img\canchas\canchadefutbolito2.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 4.9</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha Arena 5, Maipú</h2>
      <p class="description">Disfruta del fútbol con amigos en esta cancha con superficie de arena.</p>
      <p class="price">$15.000 CLP hora.</p>
    </div>
  </div>

  <div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static 'img\canchas\canchadefutbolito3.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 5.0</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha San José, Puente Alto</h2>
      <p class="description">Diviértete jugando fútbol en esta cancha tradicional de tierra.</p>
      <p class="price">$10.000 CLP hora.</p>
    </div>
  </div>

  <div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static 'img\canchas\canchadefutbolito4.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 4.7</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha La Bombonera, Santiago</h2>
      <p class="description">Vive la pasión del fútbol en esta cancha con césped artificial.</p>
      <p class="price">$30.000 CLP hora.</p>
    </div>
  </div>    

  <div class="card">
    <div class="image-container">
      <a href="#" class="like-button"><i class="fa fa-heart"></i></a>
      <img src="{% static 'img\canchas\CanchadeBaby.jpg' %}" alt="Imagen de la cancha deportiva">
      <div class="rating">
        <span><i class="fa fa-star"></i> 4.5</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="title">Cancha El Campito, La Reina</h2>
      <p class="description">Disfruta del juego en esta cancha rodeada de naturaleza y aire fresco.</p>
      <p class="price">$12.000 CLP hora.</p>
    </div>
  </div>  
