/*Login*/
.contenedor-login{
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.formulario-login{
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 186, 255);
    height: 100%;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
}


.titulo-login {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    text-align: center;
    padding-bottom: 2rem;
}

.formulario-login .btn-contraseña{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
}

@media (max-width:900px ) {
    .formulario-login{
        width: 80%;
    }

    .formulario-login .btn-contraseña{
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin: 0 auto;
    }
    
}


/*Registrar*/
.contenedor-registrar{
    margin-top: 150px;
    margin-bottom: 150px;
}
.formulario-registrar{
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 186, 255);
    height: 55vh;
    justify-content: center;
    border-radius: 10px;
}


.formulario-login ul {
    margin: 0 auto;
    top: -50px;
    font-size: 1.5rem;
    color: red;
    list-style-type: none;
}

.formulario-login p {
    display: flex;
    flex-direction: column;
}
.formulario-login p label {
    font-size: 1.5rem;
    margin-bottom: 10px !important;
    width: 70%;
    margin: 0 auto;

}
.formulario-login p input {
    margin: 0 auto;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    text-indent: 10px;
    width: 70%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
label[for="id_remember"] {
    position: relative;
    font-size: 1.3rem !important;
    margin: 0 auto!important ;
}
input[for="id_remember"] {
    position: absolute;
    font-size: 1.3rem !important;
    margin: 0!important;
}

.btn-contraseña{
    margin: 0 auto;
}
.formulario-login span{
    width: 70%;
    margin: 0 auto !important ;
    font-size: 1.5rem;

}
#id_password_helptext{
    display: none;
}
.btn_login{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.contenedor-forgot_sigup{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}
.contenedor-forgot_sigup a{
    width: 45%;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 10px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

/* Estilos para el formulario */
.form-container {
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 10% auto 0 auto; /* Centramos el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container button {
    background-color: rgb(10, 186, 255); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quitamos el borde del botón */
    padding: 10px 20px; /* Añadimos un padding interno al botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiamos el cursor al pasar por encima del botón */
    margin-top: 20px; /* Añadimos margen superior al botón */

}
.form-container button:hover {
    background-color: rgb(10, 186, 255); /* Cambiamos el color de fondo al pasar por encima del botón */
}
.form-container p {
    margin-top: 20px; /* Añadimos margen superior al párrafo */
}
.form-container h1 {
    margin-bottom: 20px; /* Añadimos margen inferior al título */
    color: #06cef6;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 20px;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    width: 50%;
}
.menu-list  {
    margin-bottom: 10%;
}
.menu-list li {
    margin: 0 10px; /* Añade margen lateral para separar los elementos */
    text-align: center;
    font-size: small;
    border-radius: 10px;
    background-color: rgb(10, 186, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Añade padding para que los elementos se vean más espaciados */
    flex: 1; /* Hace que todos los elementos tengan el mismo tamaño */
    max-width: calc(100% / 3 - 20px); /* Calcula el ancho máximo restando los márgenes */
}

.menu-list a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Google */
.loginBtn--google {
    width: 100%;
    min-width: 185px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.loginBtn--google i {
    margin-right: 8px;
    border-radius: 50%;
    background: #DD4B39;
    padding: 10px;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}


  /*Solicitud*/

  .titulo-formulario {
    text-align: center;
    color: white;
    margin-bottom: 4rem; /* Ajusta el margen inferior según sea necesario */
}

  .contenedor-solicitud {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.formulario-solicitud {
    width: 100%; /* Ajuste del ancho del formulario */
    max-width: 600px; /* Establecer un ancho máximo opcional */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 186, 255);
    /* height: 100%; Quitar la altura fija para ajuste dinámico */
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
}

.contenedor-input_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Añadir margen inferior entre campos */
}

.contenedor-input_label input {
    width: 70%; /* Ajustar el ancho del input al 100% del contenedor */
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.form-container input:focus, .form-container input[type="checked"]:focus {
    border-color: #0abaff;
    outline: none;
    border: 1px solid #0abaff;
}
.form-container input, .form-container input[type="checked"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.contenedor-input_label label {
    width: 70%; /* Ajustar el ancho de la etiqueta al 100% del contenedor */
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.btn-solicitud {
    width: 50%; /* Ajustar el ancho del botón según sea necesario */
    margin: 20px auto; /* Ajustar el margen del botón */
}
.solicitud{
    display: flex;
    
}

/* Estilos adicionales para hacer el formulario responsive */
@media (max-width: 768px) {
    .formulario-solicitud {
        width: 100%; /* Ajustar el ancho del formulario en pantallas más pequeñas */
        
    }
    .menu-list {
        flex-direction: column; /* Cambiar la dirección de los elementos a columna */
        width: 80%; /* Ajustar el ancho del menú en pantallas más pequeñas */
    }
    .menu-list li {
        margin: 10px 0; /* Añadir margen superior e inferior para separar los elementos */
        max-width: 100%; /* Ajustar el ancho máximo al 100% */
    }
    .contenedor-input_label input,
    .contenedor-input_label label {
        width: 100%; /* Ajustar el ancho del input y label al 100% en pantallas más pequeñas */
    }

    .btn-solicitud {
        width: 100%; /* Ajustar el ancho del botón al 100% en pantallas más pequeñas */
    }
    .form-container {
        width: 80%; /* Ajustar el ancho del formulario en pantallas más grandes */
    }
}
/* Estilos para tamaños de pantalla mayores a 768px (puedes ajustar según necesites) */
@media (min-width: 769px) {
    .formulario-solicitud {
        width: 70%; /* Ajustar el ancho del formulario en pantallas más grandes */
        max-width: 600px; /* Ajustar el ancho máximo del formulario */
    }
}


/*Cerrar sesión*/
