{% extends "bases/base.html" %}
{% load static %} 

{% block content %}
<section class="main_content">
    <div class="about_section">
        <h2 class="dashboard_cancha_titulo">Política de Privacidad</h2>
        <p  class="mission">Nos comprometemos a proteger tu privacidad. A continuación, explicamos cómo recopilamos y utilizamos tu información personal:</p>
        <ul class="mission" >
            <li>Recopilación de Información: [Tipos de datos que recopilamos]</li>
            <li>Uso de la Información: [Cómo utilizamos los datos recopilados]</li>
            <li>Compartir Información: [Política sobre compartir datos con terceros]</li>
            <li>Seguridad: [Medidas de seguridad implementadas]</li>
            <li>Tus Derechos: [Derechos del usuario sobre sus datos personales]</li>
            <li>Contacto: [Información de contacto para consultas sobre privacidad]</li>
        </ul>
        <p class="mission">Para más detalles, por favor revisa nuestra política de privacidad completa.</p>
    </div>
</section>
{% endblock %}
