{% extends "bases/base.html" %}
{% load static %} 

{% block content%}


{% include 'bases/components/alertas.html' %}


<section class="main_content">
    <div class="about_section">
      <br><h3 class="dashboard_cancha_titulo">Sobre Nosotros</h3><br>
      <div class="intro">
          <h2>Quiénes Somos</h2>
          <p>Somos una plataforma dedicada a facilitar la reserva de canchas deportivas. Nuestro objetivo es conectar a los entusiastas del deporte con instalaciones de calidad de manera rápida y eficiente.</p>
      </div>
      <div class="features">
          <h2>Características</h2>
          <ul>
              <li>Reserva de canchas en tiempo real</li>
              <li>Gestión de reservas y cancelaciones</li>
              <li>Notificaciones instantáneas</li>
              <li>Pago seguro en línea</li>
              <li>Soporte al cliente 24/7</li>
          </ul>
      </div>
      <div class="mission">
          <h2>Nuestra Misión</h2>
          <p>Nuestra misión es hacer que la reserva de canchas sea un proceso sencillo y accesible para todos, promoviendo la práctica deportiva y el bienestar a través de la tecnología.</p>
      </div>
  </div>
</section>
</div>


{% endblock %}
   