{% extends "bases/base.html" %}
{% load static %} 

{% block content %}
<section class="main_content">
    <div class="about_section ">
        <h2 class="dashboard_cancha_titulo">Términos de Uso</h2>
        <p  class="mission">Bienvenido a nuestra plataforma. A continuación, detallamos los términos y condiciones de uso:</p>
        <ul class="mission">
            <li>Uso de la plataforma: [Descripción detallada del uso permitido]</li>
            <li>Registro: [Requisitos y obligaciones del usuario para el registro]</li>
            <li>Contenido: [Políticas sobre el contenido permitido y prohibido]</li>
            <li>Privacidad: [Enlace a la política de privacidad]</li>
            <li>Modificaciones: [Derecho de la plataforma a modificar los términos]</li>
            <li>Contacto: [Información de contacto para dudas o reclamaciones]</li>
        </ul>
        <p class="mission">Al utilizar nuestra plataforma, aceptas cumplir con estos términos y condiciones.</p>
    </div>
</section>
{% endblock %}
