<div class="fechaDispo">
    <div class="calendar" id="calendrio" style="display: none;">
        <div class="calendar-header">
            <button id="prev-month">◀</button>
            <h2 id="month-year"></h2>
            <button id="next-month">▶</button>
        </div>
        <div class="calendar-body">
            <div class="day-names">
                <div>Dom</div>
                <div>Lun</div>
                <div>Mar</div>
                <div>Mié</div>
                <div>Jue</div>
                <div>Vie</div>
                <div>Sáb</div>
            </div>
            <div class="days" id="days"></div>
        </div>
    </div>
</div>