{% extends "bases/base.html" %}
{% load static %} 

{% block content%}


{% include 'bases/components/alertas.html' %}

{% if transaccion.status == 2 %}
    <div class="comprobante">
        <h2 class="dashboard_cancha_titulo">Comprobante del pedido</h2><br>
        <p>Pedido: <strong>{{ transaccion.commerceOrder }}</strong> </p>
        <p>Fecha: <strong>{{ transaccion.requestDate }}</strong></p>
        <p>Asunto: <strong>{{ transaccion.subject }}</strong></p>
        <p>Correo: <strong>{{ transaccion.payer }}</strong></p>
        <p>Total: <strong>{{ transaccion.amount }} {{ transaccion.currency }}</strong></p>
        <p>Medio de Pago: <strong>{{ transaccion.media }}</strong></p>
    </div>
{% endif %}


{% endblock %}