{% load static %}
<script src="{% static 'js/admin/dashboard_main.js' %}"></script>
<script src="{% static 'js/admin/canchas/formulario_canchas.js' %}"></script>
<script src="{% static 'js/admin/canchas/administrado_cancha.js' %}"></script>
<script src="{% static 'js/admin/informes/chart.js' %}"></script>
<script src="{% static 'js/admin/informes/imforme_venta_semestre.js' %}"></script>
<script src="{% static 'js/admin/informes/imforme_venta_mensual.js' %}"></script>
<script src="{% static 'js/admin/informes/imforme_inventario.js' %}"></script>
<script src="{% static 'js/admin/informes/imforme_orden_mensual.js' %}"></script>
<script src="{% static 'js/admin/informes/detalles_ordenes_semestral.js' %}"></script>
<script src="{% static 'js/admin/informes/todo_los_resumen.js' %}"></script>
<script src="{% static 'js/admin/pages/dashboard_configuracion.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/poner_favotitos.js' %}"></script>
<script src="{% static 'js/joaquin_caba.js' %}"></script>