{% extends "bases_admin/base_admin.html" %}
{% load static %}

{% block content %}

{% include 'bases_admin/components/alertas.html' %}
<div class="dashboard_cancha_formulario">
    <header class="cancha_header">
        <a href="{% url 'administrador:dashboard' %}" class="btn_header">
            <i class="fas fa-arrow-left"></i>
            Volver
        </a>
    </header>
    <br><h3 class="dashboard_cancha_titulo">Detalles del Usuario</h3><br>

    <div class="cancha_detalle_contenido">

        <div class="detalle_item FotoPerfilEdit">
            <strong>Foto Perfil:</strong>
            <div class="imagenes_contenedor">
                <div class="imagen_item">
                {% if usuario.profile_image %}
                    <img class="FotoPerfil" src="{{ usuario.profile_image.url }}" alt="User Avatar" />
                {% else %}
                    <img class="FotoPerfil" src="{% static 'img/otros/foto_hombre.png' %}" alt="User Avatar" />
                {% endif %}
                </div>
            </div>
        </div>

        <div class="detalle_item">
            <strong>Username:</strong> {{ usuario.username }}
        </div>
        <div class="detalle_item">
            <strong>Nombres:</strong> {{ usuario.nombre }} {{ usuario.apellido }}
        </div>
        <div class="detalle_item">
            <strong>Ubicación:</strong> {{ usuario.ubicacion }}
        </div>
        <div class="detalle_item">
            <strong>Email:</strong> {{ usuario.email }}
        </div>
        <div class="detalle_item">
            <strong>Telefono:</strong> {{ usuario.telephono }}
        </div>
        <div class="detalle_item">
            <strong>Role:</strong> {{ usuario.role }}
        </div>
    </div>

    <div class="detalle_item_administrar">
            <!-- boton para acticar o deactivar la publicidad -->
            <a class="btn_activar" id="activarBtn">
                <i class="fas fa-toggle-on"></i>
                Permitir
            </a>
            <a class="btn_desactivar" id="desactivarBtn">
                <i class="fas fa-toggle-off"></i>
                Bloquear
            </a>
            
            <a href="#" class="btn_editar">
                <i class="fas fa-edit"></i>
                Editar
            </a>
            <a href="" class="btn_eliminar">
                <i class="fas fa-trash-alt"></i>
                Eliminar
            </a>
    </div>
</div>

{% endblock %}
